<h2>À propos de cette application</h2>
<p>
    Cette application a été développée dans le cadre d’un projet universitaire pour gérer les
    <strong>observations d’animaux</strong>. Elle permet d’enregistrer des espèces animales
    avec leur classification biologique, leur statut de conservation, ainsi que les observations
    associées sur le terrain dans un environnement Symfony + Angular.
</p>

<h3>Concepteurs</h3>
<ul>
  <li>Ayoub Bahi</li>
  <li>Ayoub Bouaya</li>
  <li>Dorian Ludmann</li>
  <li>Theo Benet-Chapard</li>
</ul>

