.page-title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .actions {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .animal-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .animal-info {
    display: flex;
    flex-direction: column;
  }
  
  .animal-name {
    font-weight: bold;
    font-size: 16px;
  }
  
  .animal-scientific {
    font-size: 14px;
    color: gray;
  }
  
  .animal-actions button {
    margin-left: 5px;
  }
  